body {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  background: #debbd2;
  margin: 0;
  padding: 20px;
  color:#430228
}

h1 {
  margin-bottom: 10px;
}

#instructions {
  margin: 10px auto;
  max-width: 600px;
  font-size: 14px;
}

#outcome {
  font-size: 20px;
  margin-top: 20px;
  min-height: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#maze {
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  gap: 2px;
  margin: 20px auto;
  width: max-content;
}

.cell {
  width: 20px;
  height: 20px;
  background-color: #e599be;
  border: 1px solid #e1c6d3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.wall {
  background-color: #5e0237;
}

.player {
  border: 2px solid #000;
}

#resetBtn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #5e0237;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
}

#resetBtn:hover {
  background-color: #88255f;
}